.thumbContainer:hover div, .thumbContainer:focus div  { margin-top: 0px; animation-name: slideUp; animation-duration: .7s; }
.thumbContainer div img { display:none; }
.thumbContainer div:before { 	border-bottom-color: rgba(0,0,0,1); }
.thumbContainer div { background-color: rgba(0,0,0,1); }

#content ul li { font-size: 14px; line-height:20px; }
#productDescription h6 { line-height: 26px; }
#content ul { margin-left:40px; margin-right:40px; }
table, th, td { border: 1px solid white; }

.miniCallOut h2 {
    color: #fff;
    text-align: center;
    clear: both;
    font-size: 32px;
font-weight: 400;
    line-height: 32px;
    text-shadow: 0 0 40px #000;
}

.intro {
   width: 80%;
    line-height: 2rem;
    margin:1rem auto 2rem auto;
    font-size: 1rem;
}

.intro-blck {
margin: 4% auto;
}

.intro-btn {
padding: 1rem 2rem;
    border: none;
    background-color: #8A7D51;
    color: white;
    margin: 2rem 0rem 0rem 0rem;
    font-size: 1.1rem;
cursor:pointer;
}

.intro-btn:hover {

    background-color: #7f734c;
}


@media only screen and (max-width : 320px) { 		
  h1.sliderTitle { font-size: 30px; line-height: 32px; padding: 55px 0 0 0; }
  .center { display: none; }
  .special{ width: 50%; }
  .viewCompare { padding-top: 3px; }
  .grid_6 iframe { padding: 20px 10px 0 10px; }
}

/* Break 2  ----------- */
@media only screen and (min-width : 321px) and (max-width : 480px) {
  h1.sliderTitle { font-size: 30px; line-height: 32px; padding: 55px 0 0 0; }
  .center { display: none; }
  .special { width: 50%; }
  .viewCompare { padding-top: 3px; }
  .grid_6 iframe { padding: 20px 10px 0 10px; }
}

/* Break 3 ----------- */
@media only screen and (min-width : 481px) and (max-width : 767px) {
  h1.sliderTitle { font-size: 46px; line-height: 52px; padding: 70px 140px 0 0; }
  .center { display: none; }
  .special {	width: 50%; }
  .grid_6 iframe { padding: 20px 10px 0 10px; }
}

/* Break 4 ----------- */
@media only screen and (min-width : 768px) and (max-width : 1023px) {
  h1.sliderTitle { font-size: 60px; line-height: 62px; padding: 120px 140px 0 0; 	margin-right: 0; }
  .cycle-slideshow, .cycle-slideshow .slide { height: 460px; }
  .special { width: 60%; text-align:right; float:right }
  .productHeaderBg { height:400px; }
}

/* Break 5 ----------- */
@media only screen and (min-width : 1024px) {
  h1.sliderTitle { font-size: 70px; line-height: 70px; padding: 180px 100px 0 0; 	}
  .cycle-slideshow, .cycle-slideshow .slide { height: 480px; }
  .special {	width: 60%; text-align:right; float:right }
  .productHeaderBg { height:400px; }
}	

/* Break 6 ----------- */
@media only screen and (min-width : 1224px) {
  h1.sliderTitle { font-size: 80px; line-height: 82px; padding: 220px 100px 0 0; 	}
  .cycle-slideshow, .cycle-slideshow .slide { 	height: 490px; }
  .special { width: 60%; text-align:right; float:right }
  .productHeaderBg { height:400px; }
}

/* Break 6 ----------- */
@media only screen and (min-width : 1281px) {
  h1.sliderTitle { font-size: 80px; line-height: 82px; padding: 240px 100px 0 0; 	}
  .cycle-slideshow, .cycle-slideshow .slide { 	height: 690px; }
  .special {	width: 60%; text-align:right; float:right }
  .productHeaderBg { height:500px; }
}

/* Use a different font family for search results */
.gs-title, .gs-snippet { font-family: "effra", sans-serif; }

/* Add a border between individual search results */
.gs-webResult { border: 1px solid #eee; padding: 1em; }

/* Do no display the count of search results */    
.gsc-result-info { display: none; }

/* Hide the Google branding in search results */
.gcsc-branding { display: none; }

/* Hide the thumbnail images in search results */
.gsc-thumbnail { display: none; }

/* Hide the snippets in Google search results */
.gs-snippet { display: none; }
.gs-result .gs-title, .gs-result .gs-title { color: #333; }
    
/* Change the font size of the title of search results */
.gs-title a { font-size: 14px; }
   
/* Change the font size of snippets inside search results */
.gs-snippet { font-size: 14px; }
    
/* Google Custom Search highlights matching words in bold, toggle that */
.gs-title b, .gs-snippet b { font-weight: normal; }
    
/* Do no display the URL of web pages in search results */
.gsc-url-top, .gsc-url-bottom { display: none; }
    
/* Highlight the pagination buttons at the bottom of search results */
.gsc-cursor-page { font-size: 1.5em; padding: 4px 8px; border: 2px solid #ccc; }

#nav #mainNav ul li ul li ul li a { width: 125px !important; }

/*Hide Feefo View All Reviews Link until they have reviews to populate the popup*/
.feefowidget-read-all-reviews {display:none !important;}

.cycle-pager {
z-index: 9999
}

.grid32,
.grid33 {
    width: fit-content !important;
}

:root {
    --primary-color: #ffdc00;
    --secondary-color: #000000;
    --strong-neutral-color: #444444;
    --neutral-color: #666666;
    --light-neutral-color: #999999;
    --background-color: #e3e1db;
    --surface-color: #ffffff;
    
    --on-primary-color: #000000;
    --on-secondary-color: #ffffff;
    --on-strong-neutral-color: #ffffff;
    --on-neutral-color: #ffffff;
    --on-light-neutral-color: #ffffff;
    --on-background-color: #333333;
    --on-surface-color: #333333;
}

#mobileMenu #logo img {
    background-image: url("https://dogtra-dotcom-uploads.s3.us-west-1.amazonaws.com/dogtra_logo_c0ca85feba.png?updated_at=2022-06-02T00:02:49.844Z");
    width: 0;
    height: 0;
    padding: 16px 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#logo img {
    background-image: url("https://dogtra-dotcom-uploads.s3.us-west-1.amazonaws.com/dogtra_logo_c0ca85feba.png?updated_at=2022-06-02T00:02:49.844Z");
    width: 0;
    height: 0;
    padding: 45px 104px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

#cartHeader .search img,
#sidr .greyBar #siteSearchFormMobi img
{
    background-image: url("https://dogtra-dotcom-uploads.s3.us-west-1.amazonaws.com/SEARCH_ICON_ecd23ac62a.png?updated_at=2022-06-02T00:11:28.795Z");
    width: 0;
    height: 0;
    padding: 9px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

#cartHeader .cart img {
    background-image: url("https://dogtra-dotcom-uploads.s3.us-west-1.amazonaws.com/BASKET_ICON_8aa11bd902.png?updated_at=2022-06-02T00:11:28.754Z");
    width: 0;
    height: 0;
    padding: 9px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

#follow.grid33 :nth-child(2) img{
    background-image: url("https://dogtra-dotcom-uploads.s3.us-west-1.amazonaws.com/facebook_logo_3430deade0.png?updated_at=2022-06-02T00:33:53.255Z");
    width: 0;
    height: 0;
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#follow.grid33 :nth-child(3) img{
    background-image: url("https://dogtra-dotcom-uploads.s3.us-west-1.amazonaws.com/instagram_logo_3a4e3a2156.png?updated_at=2022-06-02T00:33:53.217Z");
    width: 0;
    height: 0;
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#follow.grid33 :nth-child(4) img{
    background-image: url("https://dogtra-dotcom-uploads.s3.us-west-1.amazonaws.com/youtube_logo_0911410030.png?updated_at=2022-06-02T00:33:53.254Z");
    width: 0;
    height: 0;
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



#nav,
#mobileMenu {
    background-color: var(--secondary-color);
}

#mobileMenu {
    display: flex;
    align-items: center;
}


@media only screen and (min-width: 1024px) {
    #mobileMenu {
        display: none;
    } 
}

#mobileMenu #logo { 
    width: auto;
}

#mobileMenu div[style="clear: both;"] {
    display: none;
}

#mobileMenu a.cart {
    display: flex;
}

#mobileMenu .subMenu {
    float: inherit;
    display: block;
    width: inherit;
}

#mobileMenu :first-child,
#mobileMenu :nth-child(1) {
    display: flex !important;
    align-items: center;
}

#mobileMenu a.cart {
    padding: 12px;
    margin: -12px 0;
}

#sidr { 
    background-color: var(--secondary-color);
}

#sidr .greyBar {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

#sidr .greyBar form input[type="text"] {
    color: var(--on-primary-color) !important;
}

#sidr .greyBar ul li a {
    color: var(--on-primary-color);
}

#cartHeader {
    background-color: var(--primary-color);
}

#cartHeader li a {
    color: var(--on-primary-color);
}

#cartHeader .search form input[type="text"] {
    color: var(--on-primary-color);
}

#cartHeader form input[type="text"]  {
    border-bottom-color: var(--on-primary-color);
}

#nav #mainNav ul li {
    border-bottom: var(--secondary-color) 3px solid;
}

#nav #mainNav ul li:hover {
    border-bottom-color: var(--primary-color);
}

#nav #mainNav ul li a { 
    color: var(--on-secondary-color);
}

#nav #mainNav ul li a:hover {
    /* background-color: var(--primary-color); */
    color: var(--primary-color);
}

#nav #mainNav ul li ul {
    background-color: var(--secondary-color);
    top: 92px;
}

@media only screen and (min-width: 1224px) {
    #nav #mainNav ul li ul {
        top: 94px;
    }
}

#nav #mainNav ul li ul li {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
}

#nav #mainNav ul li ul li:hover > a {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}


#nav #mainNav ul li a:hover {
    background-color: transparent;
}

#nav #mainNav ul li a.top-desk-menu-active {
    background-color: inherit;
    color: var(--primary-color);
}

.button {
    background-color: var(--primary-color);
    color: var(--on-primary-color) !important;
}

form .button { 
    background-color: var(--primary-color);
    color: var(--on-primary-color) !important;
}

form .button:hover {
    background-color: var(--neutral-color);
    color: var(--on-neutral-color) !important;
}

.button#grey {
    background-color: var(--strong-neutral-color);
    color: var(--on-strong-neutral-color) !important;
}

.miniButton {
    background-color: var(--primary-color) !important;
    color: var(--on-primary-color) !important;
}

.button:hover, .button#grey:hover, .miniButton:hover {
    background-color: var(--neutral-color) !important;
    color: var(--on-neutral-color) !important;
}

#footer {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
}

#footer h5 {
    color: var(--on-secondary-color);
}

#footer a {
    color: var(--primary-color) !important;
}

#footer form input[type="text"] {
    border-bottom-color: var(--on-secondary-color);
}

.cycle-pager-active, .cycle-pager span:hover {
    color: var(--primary-color);
    -webkit-text-fill-color: var(--primary-color);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--surface-color);
}

.add-cart-btn {
    background-color: var(--primary-color) !important;
    color: var(--on-primary-color) !important;
}

.quick-view-icon, 
.quick-view-icon:hover, 
.quick-view-icon:focus, 
.quick-view-icon:visited { 
    color: var(--secondary-color) !important;
}

#inline #productDescription .fullView {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}


.collarfinder .button { 
    background-image: none;
    color: white !important;
    background-color: black;
}

.cart #accountLogin p :nth-child(4) {
    background-color: var(--neutral-color) !important;
    color: var(--on-secondary-color) !important;
}

#productTabs .button {
    cursor: pointer;
    background-color: var(--light-neutral-color) !important;
    color: var(--on-light-neutral-color) !important;
}

#productTabs .active {
    background-color: var(--primary-color) !important;
    color: var(--on-primary-color) !important;
}

#productAdditionalinfo .button:hover {
    background-color: var(--neutral-color) !important;
    color: var(--on-neutral-color) !important;
}

.wishlists #wishlistOptions form input[type="submit"] {
    background-color: var(--strong-neutral-color);
    color: var(--on-strong-neutral-color);
}

.wishlists #wishlistOptions form input[type="submit"]:hover {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

.pl-tile-prod-pop-cart .fullView {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

.pl-tile-prod-pop-cart .fullView:hover {
    background-color: var(--neutral-color);
    color: var(--on-neutral-color);
}

#productThumb a .quickView {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}